<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/user/**" access="hasAuthority('USER')"/>
        <intercept-url pattern="/admin/**" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/root/**" access="hasAuthority('ROOT')"/>
        <intercept-url pattern="/web_resources/**" access="permitAll()"/>
        <intercept-url pattern="/login/**" access="permitAll()"/>
        <form-login login-page="/login"
                    default-target-url="/pet_space"
                    authentication-failure-url="/login?error=error"
                    username-parameter="nickname"
                    password-parameter="password"
                    login-processing-url="/login"/>
        <logout invalidate-session="true"
                logout-success-url="/login?logout"
                logout-url="/logout" delete-cookies="JSESSIONID" />
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query=
                                       "SELECT nickname, password, TRUE FROM user_essence
                                        WHERE nickname=?"
                               authorities-by-username-query=
                                       "SELECT nickname, role FROM user_essence
                                        WHERE nickname=?"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>